_site
.DS_Store
.jekyll
.jekyll-metadata
.jekyll-cache
.bundle
.sass-cache
node_modules
package.json

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
*.idx
*.ind
*.ilg
*.nav
*.snm
*.vrb
*.xdv
*.bcf
*.run.xml
